<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/output.css" />
</head>
<body>
  <header>
    <div class="navbar bg-base-100">
      <div class="navbar-start">
        <div class="dropdown">
          <label tabindex="0" class="btn btn-ghost btn-circle">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
          </label>
          <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
            <li><a href="/">Homepage</a></li>
            <li><a href="/todos">Orders</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
      <div class="navbar-center">
        <a class="btn btn-ghost normal-case text-xl" href="/"><i class="fa-regular fa-lemon fa-2xl"></i></a>
      </div>
      <div class="navbar-end">
        <button class="btn">
          <div class="indicator">
            <a href="/login">Login</a>
          </div>
        </button>
      </div>
    </div>
  </header>
  <div class="flex justify-center py-10">
  <h1 class="text-xl">Menu Index</h1>
  </div>
    <div class="flex justify-center">

      <div class="flex justify-center">
        <div>
          <div class="flex justify-center">
            <input type="text" id="drink" class="input input-bordered input-secondary w-full max-w-xs" placeholder="Type in a drink">
            <section class="object-none object-right">
            <button id="search" class="btn btn-primary">Search</button>
            </section>
          </div>
          
        </div>
        
      </div>
  </div>
  <section class="md:container md:mx-auto">
  <section class='flex justify-center pt-10 container m-auto grid'>
    <section class='tile col-span-3 md:col-span-5 lg:col-span-8'>
      <h2 id="drinkName"></h2>
    </section>
    <section class="tile col-span-3 md:col-span-5 lg:col-span-8">
    <img class="w-3/5 h-auto" id="drinkPicture" src="">
  </section>
    <section class="tile col-span-3 md:col-span-5 lg:col-span-8">
  <ul>
    <li>Type:<span class="text-black" id="drinkType"></span></li>
    <li>Ingredients:<span id="drinkIngredients"></span></li>
    <li>Benefits:<span id="drinkBenefits"></span></li>
  </ul>
</section>
</section>
  </section>
    <script src="/public/js/drinks.js"></script>
    <script src="https://kit.fontawesome.com/c15b095f83.js" crossorigin="anonymous"></script>
</body>
</html> 
