<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/output.css" />
    <link rel="stylesheet" href="/public/css/todos.css" />
</head>
<header>
    <div class="navbar bg-base-100">
      <div class="navbar-start">
        <div class="dropdown">
          <label tabindex="0" class="btn btn-ghost btn-circle">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
          </label>
          <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
            <li><a href="/">Homepage</a></li>
            <li><a href="/drinks">Menu Index</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
      <div class="navbar-center">
        <a class="btn btn-ghost normal-case text-xl" href="/"><i class="fa-regular fa-lemon fa-2xl"></i></a>
      </div>
      <div class="navbar-end">
        <button class="btn">
          <div class="indicator">
            <a href="/login">Login</a>
          </div>
        </button>
      </div>
    </div>
  </header>
<body>
  <div class="flex justify-center">
    <h1>Orders</h1>
  </div>
    <div class="flex justify-center">
        <div>
    <% todos.forEach( el => { %>
            <div class="card w-96 bg-primary text-primary-content"  class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span class='del'> Clear </span>
        </div>
    <% }) %> 
    </div>   
</div>
<div class="box">
    <div class="flex justify-center">
        <div class="close">
    <form action="/todos/createTodo" method='POST'>
 <label for="juices">Add an Order:</label>
 <input type="text" id="name" name='todoItem' placeholder="Customer Name">
  <select id="drink" name='todoItem'>
    <option value="abc">ABC</option>
    <option value="mean green">Mean Green</option>
    <option value="lemon flush">Lemon Flush</option>
    <option value="liver cleanse">Liver Cleanse</option>
    <option value="liquid sunshine">Liquid Sunshine</option>
    <option value="dragon fly">Dragon fly</option>
    <option value="aloha suprise">Aloha Suprise</option>
    <option value="boost shot">Boost Shot</option>
    <option value="berry bliss">Berry Bliss</option>
    <option value="peanut butter crunch">Peanut Butter Crunch</option>
    <option value="strawberry special">Strawberry Special</option>
  </select>
  <select name='todoItem'>
  <option value="12oz">12oz</option>
    <option value="16oz">16oz</option>
    <option value="24oz">24oz</option>
    <option value="4oz">4oz</option>
  </select>
  <input type="number" id="points" name='todoItem'step="1" placeholder="quanity">
  <input type="text" id="fname" name='todoItem' placeholder="Notes">
        <input type="submit" id="add">
</form>
</div>
</div>
</div>
    <script src="js/main.js"></script>
    <script src="https://kit.fontawesome.com/c15b095f83.js" crossorigin="anonymous"></script>
</body>
</html>
